<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key ="minNumEvents" value="1"/>
    <add key ="maxNumEvents" value="2"/>
    <add key ="minNumTickets" value="0"/>
    <add key ="maxNumTickets" value="500"/>
    <add key ="minTicketPrice" value="0"/>
    <add key ="maxTicketPrice" value="2000"/>
    <add key ="minRangeX" value="-10"/>
    <add key ="minRangey" value="-10"/>
    <add key ="maxRangeX" value="10"/>
    <add key ="maxRangeY" value="10"/>
    <add key ="numClosestLocations" value="5"/>
  </appSettings>
</configuration>